.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

/* common style */
.primary-color{
  color: #E95A08;
}
.secondary-color{
  color: #000000;
}
.des-color{
  color: rgba(0, 0, 0, 0.5);
}
.common-title{
  font-size: 3.125rem;
  font-weight: bold;
}
.common-des{
  font-size: 1.375rem;
}

/* navbar-design */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 30px auto 0px auto;
}
.logo{
  width: 135px;
  height: 82px;
}
.nav-items{
  display: flex;
  gap: 48px;
  list-style: none;
}
.nav-item a{
  text-decoration: none;
  font-size: 1rem;
}
.nav-item:nth-child(1) a {
  color: #252432;
  font-weight: bold;
}

.nav-item:nth-child(2) a, .nav-item:nth-child(3) a {
  color: #8987A1;
}

.nav-item:nth-child(4) a {
  color: #000000;
}

/* banner-design */
.banner{
  display: flex;
  justify-content: space-between;
  align-items:end;
  max-width: 1140px;
  margin: 120px auto 120px auto;
}
.banner-col-text h1{
  font-size: 4.0625rem;
  font-weight: bold;
  margin-bottom: 13px;
}

main{
  max-width: 1140px;
  margin: 0 auto;
}

/* our-plants-section */
.our-plants-texts{
  text-align: center;
}
.our-plants-texts p{
  margin: 16px 126px 49px 126px;
}
.our-plants-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
.card img{
  width: 100%;
}
.card-text{
  font-size: 1.375rem;
  line-height: 150%;
  font-weight: bold;
  color: #111111;
}
.card-text span{
  font-weight: 500;
}
.card-button{
  padding: 19px 0px;
  color: white;
  background-color: #E95A08;
  font-size: 1rem;
  font-weight: 600px;
  border: none;
}

/* Flower & Plants Lover section */
.flower-and-plants{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 210.13px 0px 133.87px 0px;
}
.flower-and-plants-img{
  position: relative;
}
.absolute-img {
  position: absolute;
  top: -20%;
  right: -20%;
}
.flower-and-plants-text h1{
  margin-bottom: 20px;
}
.flower-and-plants-text ul{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 20px;
}

/* responsive-design-for-md-device */
@media screen and (min-width: 576px) and (max-width:1180px) {
  .navbar{
    margin: 20px ;
  }
  .banner{
    margin: 20px;
  }
  main{
    padding: 0px 20px;
  }
  .flower-and-plants{
    flex-direction: column;
    gap: 18px;
    margin: 41.5px 0px 143px 0px;
  }
  .flower-store-img{
    width: 100%;
  }
  .absolute-img {
    display: none;
  }

}

/* responsive-design-for-sm-device */
@media screen and (max-width: 576px){

  /* common */
  .common-title{
    font-size: 1.5rem;
  }
  .common-des{
    font-size: 0.875rem;
  }

  /* hero-section */
  .navbar{
    margin: 13px 16px 0px 16px;
  }
  .logo{
    width: 63px;
    height: 38px;
  }
  .nav-item:nth-child(1), .nav-item:nth-child(2), .nav-item:nth-child(3) {
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
    margin: 28px 0px 65px 0px;
  }
  .banner-col-text{
    margin: 28px 16px 0px 16px;
  }
  .banner-col-text h1{
    font-size: 1.5rem;
  }
  .banner-col-img img{
    width: 100%;
  }

  main{
    padding: 0px 16px;
  }

  /* our-plants-section */
  .our-plants-texts p{
    margin: 16px 28.5px 28px 28.5px;
  }
  .our-plants-cards{
    grid-template-columns: repeat(2,1fr);
  }
  .card-text{
    font-size: 1rem;
  }
  
  /* Flower & Plants Lover section */
  .flower-and-plants{
    flex-direction: column;
    gap: 18px;
    margin: 41.5px 0px 143px 0px;
  }
  .flower-store-img{
    width: 100%;
  }
  .absolute-img {
    display: none;
  }

}